
#all{
background-image: url(fondo\ Daniela\ page.png)  ;}

#boton1{
      background-color: ghostwhite;
      font-family: 'Dancing Script', cursive;      
}

#boton{

      background-color: ghostwhite;
      font-family: 'Dancing Script', cursive;
}
.d-grid{
      text-decoration: none;
      border-radius: 20px;
      margin: 10px;
}
#aclaracion{
      font-family: 'Dancing Script', cursive;
      text-align: center;

}